


.lapalettedugout__img{
    background: url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg') no-repeat;
   @include image-menu;
}
.lanoteenchantee__img{
    background: url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg') no-repeat;
   @include image-menu;
}
.alafrancaise__img{
    background: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg') no-repeat;
   @include image-menu;
}
.ledelisedessens__img{
    background: url('../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg') no-repeat;
   @include image-menu;
}
.menus{
    background-color: rgb(250,250,250);
    border-radius: 40px 40px 0 0;
    padding-bottom: 20px;
    /*width: 100%;*/
    @media screen and (min-width: 768px){
        padding-left: 20px;
        padding-right: 20px;
        margin-left:0px;
        margin-right: 0px;
    }
    &__title{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 40px;
        @media screen and (min-width: 768px){
            padding: 40px;
        }
        > h2{
            font-family: 'shrikhand',sans-serif;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__part{
        > h5{
            @include margin;
            font-size: 15px;
            text-transform: uppercase;
            padding-bottom: 5px;
            border-bottom: 4px solid transparent;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                left:0;
                top:25px;
                background-color: $color-tertaire;
                width: 40px;
                height: 3px;
            }
        }
    }
}
.menu-responsive{
    @media  screen and (min-width: 1400px) {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        margin-left: 0;
        > .menus__part{
            width: 40%;
        }
    }
    @media  screen and (min-width: 768px)and (max-width:1399px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
        >.menus__part{
            width: 80%;
        }
    }
}
.cards-menus{
    &:nth-child(2){animation: animation-cards 500ms 100ms ease-in ; &:hover{animation: animation-cards none;}}
    &:nth-child(3){animation: animation-cards 500ms 200ms ease-in ; &:hover{animation: animation-cards none;}}
    &:nth-child(4){animation: animation-cards 500ms 300ms ease-in ; &:hover{animation: animation-cards none;}}
    &:nth-child(5){animation: animation-cards 500ms 400ms ease-in ; &:hover{animation: animation-cards none;}}
    @include margin;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 25px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    @include shadow;
    transform-origin: 50% 100%;
    position: relative;
    height: auto;
    &--presentation{
        > h4{
            margin-bottom: 0;
        }
        > p{
            margin-top: 3px;
        }
    }
    &--pray{
        font-weight: bold;
    }
    &--check{
        > .fa-check-circle{
            font-size: 25px;
            padding: 25px;
        }
        display: flex;
        justify-content: center;
        color: #fff;
        background: $color-tertaire;
        border:1px solid $color-tertaire;
        width: 20%;
        height: 100%;
        margin: 0;
        position: absolute;
        top:0; right:0; bottom: 0;
        border-radius: 0 25px 25px 0;
        transform-origin: 100% 50%;
        transform: scaleX(0);
    }
    &:hover{
       /* height: 77px;*/
        animation: padding-right 300ms both;
        & .cards-menus--check{
            animation: check 300ms both linear;
            & > .fa-check-circle{
                animation: rotate-icons 300ms linear;
            }
        }
        & .cards-menus--pray{
            animation: padding-right 300ms both linear;
        }
        & .cards-menus--presentation{
            width: 60%;
            > h4{
                text-overflow: ellipsis;
                white-space:nowrap;
                overflow: hidden;
            } 
            > p{
                text-overflow: ellipsis;
                white-space:nowrap;
                overflow: hidden;
            }
        }
    }
    
}
.presentation__btn{
    display:block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

