

.presentation{
    &__btn{
        cursor: pointer;
        font-family: 'robot',sans-serif;
        font-weight: bold;
        font-size: 15px;
        padding: $padding-primary+5px;
        border:none;
        border-radius: 30px;
        background:  $color-linear;
        color:$color-text-btn;
        box-shadow: 1px 1px 8px 7px $color-fond;
        &:hover{
            animation: btn-animation 300ms both ;
        }
        @media screen and (min-width: 768px) {
            font-size: 20px;
            padding: $padding-primary+10px;
        }
    }
}