
@keyframes heart-animation {
    0%{
        transform:scale(0.2);
        opacity: 0.4;
    }
    50%{
        transform:scale(0.4);
        opacity: 0.6;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}
@keyframes heart-empty {
    from{
        color: black;
    }
    to{
        color: transparent;
    }
}
@keyframes loading-animation {
    0%{
        transform: rotate(0deg); border-width: 10px;
        opacity: 1;
    }
    50%{
        transform: rotate(180deg); border-width: 1px;
        opacity: 0.8;
    }
    100%{
        transform: rotate(360deg); border-width: 10px;
        opacity: 0;
    }
}
@keyframes container-animation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
}


@keyframes btn-animation {
    
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.9;
    }
    100%{
        opacity: 0.8;
        box-shadow:  1px 1px 8px 7px rgba(0,0,0,0.4);
    }
}

@keyframes animation-cards {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    50%{
        transform: translateY(10px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes check {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes rotate-icons {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes padding-right {
    0%{
        padding-right: 10px;
    }
    50%{
        padding-right: 10%;
    }
    100%{
        padding-right: 20%;
    }
}