

@mixin mise-en-page {
    text-align: center;
}
@mixin bg-color($opacity){
    background: rgba($color-fond,$opacity);
}
@mixin margin {
    margin-left: 20px;
    margin-right: 20px;
}
@mixin image-position {
    border-radius: 20px 20px 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 90%;
    height: 180px;
    /*@media screen and (min-width: 768px){
        width: 500px;
    } */ 
}
@mixin image-menu {
    
    padding: 200px;
    padding-bottom: 60px;
    background-size: 100%;
    background-position:100%;
    @media screen and (min-width: 768px){
        height: 200px;
    }
}
@mixin shadow {
    box-shadow: 3px 3px 15px $color-fond;
}