

.header__logo{
    background: url('../images/logo/ohmyfood.png') no-repeat;
    background-size: 200px;
    width: 40%;
    margin:auto;
    margin-top:25px;
    margin-bottom: 10px;
    padding: 20px;
}